.expand-bottom {
  position: relative;
}

#bottomChev {
  position: absolute;
  right: 20px;
  font-size: 20px;
  font-weight: 300;
  transform: rotate(-90deg);
  transition: 0.3s;
}

.rotatezero {
  transform: rotate(0deg) !important;
}

.signBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.authError {
  color: red;
  margin: 0 5px;
}