.expand-bottom {
  position: relative;
}

#bottomChev {
  position: absolute;
  right: 20px;
  font-size: 20px;
  font-weight: 300;
  transform: rotate(-90deg);
  transition: 0.3s;
}

.rotatezero {
  transform: rotate(0deg) !important;
}

.signBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.authError {
  color: red;
  margin: 0 5px;
}

.badgeBox {
  display: flex;
  justify-content: flex-end;
}

.actionBadge {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 0 5px;
  border-radius: 10px;
}

.actionBtns button {
  white-space: nowrap;
  min-width: 70px;
  margin: 5px;
}

.actionBtns {
  display: flex;
  flex-wrap: nowrap;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-content {
  position: fixed !important;
  right: 0;
  left: 0;
  height: 45px !important;
}

.nav-control {
  height: 3.263rem !important;
}

.header {
  position: relative !important;
}

#menu li a {
  padding: .75rem 1.5rem;
}

.subMenu li a {
  padding: .5rem 1.5rem !important;
}

.deznav,
.nav-header {
  position: fixed !important;
}

@media(min-width: 1024px) {

  .deznav,
  .nav-header {
    position: fixed !important;
  }
}

/* 
.deznav .metismenu ul a:before {
  content: "";
  height: 0.125rem;
  width: 0.375rem;
  background: blue;
  position: absolute;
  left: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}


.deznav .metismenu ul a:before {
  content: "";
  height: 0.125rem;
  width: 0.375rem;
  background: blue;
  position: absolute;
  left: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
} */

/* blue box */
.blueBarBox {
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
}

#blueBar {
  background-color: #14537e;
  height: 2px;
  width: 25%;
  border-radius: 2px;
  transition: 0.4s;
}

.activeSub {
  width: 70% !important;
}